In [ ]:
!pip install sql-metadata
!pip install sqlparse
!pip install sqlglot
!pip install pandas
!pip install pandas openpyxl
!pip install cx_Oracle

In [125]:
from sql_metadata import Parser
#from sql_metadata.compat import get_query_columns, get_query_tables

sqlqry = """ 
( select main.*,special_chrg as settlement_Amount, fee as wiring_fee
from main
left outer join stream_tw_commission   b 
     on special_chrg BETWEEN amount_min AND amount_max 
    -- or abs(mod(special_chrg, 50000000)) BETWEEN b.amount_min AND b.amount_max
     where special_chrg is not null)
"""


Parser(sqlqry.lower()).columns

['main.*', 'special_chrg', 'fee', 'amount_min', 'amount_max']